:root {
    --raisin-black: #1a181bff;
    --independence: #564d65ff;
    --dark-cyan: #3e8989ff;
    --medium-aquamarine: #2cda9dff;
    --erin: #05f140ff;
    --rich-black-fogra-29: #0d1321ff;
    --prussian-blue: #1d2d44ff;
    --black-coral: #3e5c76ff;
    --shadow-blue: #748cabff;
    --eggshell: #f0ebd8ff;
    --background: var(--rich-black-fogra-29);
    --text-color: var(--eggshell);
}

html {
    height: 100%;
}

body {
    background-color: var(--background);
    font-family: 'Zen Dots', cursive;
    height: 100%;
    margin: 0%;
}

.login {
    display: block;
    width: 35%;
    max-width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: var(--eggshell);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.login:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}

.header {
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.header p {
    font-size: 20px;
    text-align: center;
}

.header img {
    margin-left: 1%;
    margin-right: 1%;
    width: 40%;
    max-width: 100%;
}

.login input {
    width: calc(100% - 20px);
    background-color: transparent;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    color: #000000;
    margin-bottom: 20px;
    outline: 0;
    font-size: 16px;
    font-family: 'Zen Dots', cursive;
}

.login button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: var(--background);
    border-radius: 5px;
    border: 2px solid var(--background);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
}

.login button:hover {
    background-color: var(--background);
    color: #ffffff;
}

.login button:focus {
    background-color: var(--background);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login button:active {
    background-color: transparent;
    color: var(--background);
}

.login .submit-container {
    display: flex;
    flex-direction: row;
}

.login .invalid-input {
    border-bottom: 1px solid red;
}

.invalid-input-text {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

.content {
    margin-top: 0%;
}

.sidebar {
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: var(--eggshell);
}

.sidebar:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}

.sidebar ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.sidebar li {
    list-style-type: none;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.sidebar li:hover {
    list-style-type: none;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: var(--background);
}

.sidebar li:active {
    background-color: transparent;
    color: var(--background);
}

.sidebar li a {
    color: var(--background)
}

.sidebar li:hover a {
    color: var(--eggshell)
}

.sidebar li:active a {
    color: var(--background);
}

.overview {
    display: block;
    width: 50%;
    max-width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: var(--eggshell);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

.overview input {
    width: calc(100% - 20px);
    background-color: transparent;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    color: #000000;
    margin-bottom: 20px;
    outline: 0;
    font-size: 16px;
    font-family: 'Zen Dots', cursive;
}

.overview button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: var(--background);
    border-radius: 5px;
    border: 2px solid var(--background);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
}

.overview button:hover {
    background-color: var(--background);
    color: #ffffff;
}

.overview button:focus {
    background-color: var(--background);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.overview button:active {
    background-color: transparent;
    color: var(--background);
}

.overview .submit-container {
    display: flex;
    flex-direction: row;
}